.panel {
    width: 100px;
}

body {
    background-color: #222;
}

.container {
    background-color: white;
    width: 50%;
}

#panel {
    display: inline;
}

#start {
    display: inline;
}

#vermelho {
    background-color: red;
    width: 50px;
    height: 50px;
}

#azul {
    background-color: blue;
    width: 50px;
    height: 50px;
}

#verde {
    background-color: green;
    width: 50px;
    height: 50px;
}

#amarelo {
    background-color: yellow;
    width: 50px;
    height: 50px;
}